.content-form-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
}
.content-input-title{
    margin: 0 0 8px 0;
}
.content-title{
    margin-bottom: 24px;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.padding-form{
    padding: 0 16px;
}
.item9{
    grid-column: 1 / 3;
}
.item10{
    grid-column: 1 / 3;
}
input[type='date']{
    width: 32px;
    padding: 7px;
}
.input-buttons-conteiner{
    display: flex;
    gap: 4px;
}
@media screen and (max-width: 991px){
    .content-form-container{
        display: block;
    }
    .content-form-container>div{
        margin-bottom: 16px;
    }
}
.tag-item{
    background-color: #E5F4FF;
    border: 1px solid #99D5FF;
    border-radius: 4px;
    height: 24px;
    padding: 2px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.tags-conteiner{
    position: relative;
    padding: 3px;
    gap: 4px;
    flex-wrap: wrap;
    height: auto;
    padding-right: 29px;
}
.tag-close{
    cursor: pointer;
}
.tag-item span{
    margin-bottom: 3px;
}
.micro-cross{
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
}
.plus{
    height: 32px;
    line-height: 25px;
    font-size: 25px;
    color: #2E3238;
}