*{
    box-sizing: border-box;
}
header{
    padding: 8px 16px;
    border-bottom: 1px solid #D5D8DD;
}
.flex-space_between-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-conteiner{
    position: relative;
    display: flex;
    align-items: baseline;
}
.logo-O{
    position: relative;
    height: 24px;
    right: 61px;
}
.logo{
    height: 17px;
}
.avatar-img{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
.header-input-conteiner{
    width: 300px;
  }
.header-input::placeholder{
    color: #D5D8DD;
}  
.input-img{
    height: 24px;
    margin: 6px 8px 0 0;
}
.conteiner-search-avatar-settings{
    gap: 20px
}
.conteiner-avatar-settings{
    gap: 15px;
}
.conteiner-avatar-settings span{
    line-height: 34px;
}
@media screen and (max-width: 767px){
    .logo-conteiner{
        display: none;
    }
    .header-input-conteiner{
        display: none;
    }
    .conteiner-avatar-settings span{
        display: none;
    }
}